



div{
    margin: 20px;
    border:chartreuse solid 5px;
    padding: 50px;
    width: 500px;
}

#caja1{
    margin:170px;
    border:0px;
    padding: 20px;
    padding-top: 5px;
    width: 200px;
    background-color: aqua;
}


#caja2{
    margin:90px;
    border:0px;
    padding: 20px;
    padding-top: 5px;
    width: 500px;
    background-color: aqua;
}

img.top{
    vertical-align: top;
}

img.centro{
    vertical-align: middle;
}
